name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.1.9
    - name: Initialise with no backend
      run: terraform init -backend=false
    - name: Check formatting
      run: terraform fmt -check -recursive
    - name: Validate the configuration
      run: terraform validate

  tfsec:
    name: tfsec
    runs-on: ubuntu-latest
    needs: [validate]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: tfsec
        uses: aquasecurity/tfsec-action@v1.0.2

  caller-identity-check:
    if: ${{ gitlab.event_name == 'pull_request' }}
    name: Return the IAM user
    needs: [validate, tfsec]
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/gitlab-runner
    - run: |
        aws sts get-caller-identity

  auto-approve:
    if: ${{ gitlab.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    needs: [validate, tfsec, caller-identity-check]
    steps:
    - name: Auto Approve PR
      uses: actions/gitlab-script@v6
      with:
       script: |
        gitlab.rest.pulls.createReview({
          owner: context.repo.owner,
          repo: context.repo.repo,
          pull_number: context.issue.number,
          event: "APPROVE"
        })
